@model EventEaseBookingSystem.Models.Event

@{
    ViewData["Title"] = "Edit Event";
}

<h2>Edit Event</h2>

<form asp-action="Edit" enctype="multipart/form-data">

    <input type="hidden" asp-for="EventId" />

    <div class="form-group">
        <label asp-for="EventName"></label>
        <input asp-for="EventName" class="form-control" />
    </div>

    <!-- Event Type -->
    <div class="form-group">
        <label>Event Type</label>
        <select asp-for="EventTypeId"
                asp-items="ViewBag.EventTypeId"
                class="form-control">
        </select>
        <span asp-validation-for="EventTypeId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="EventDate"></label>
        <input asp-for="EventDate"
               type="datetime-local"
               class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description"
                  class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label>Venue</label>
        <select asp-for="VenueId"
                asp-items="ViewBag.VenueId"
                class="form-control">
        </select>
    </div>

    <br />

    @if (!string.IsNullOrEmpty(Model.ImageUrl))
    {
        <div>
            <p>Current Image:</p>

            <img src="@Model.ImageUrl"
                 width="150"
                 height="100"
                 style="object-fit:cover;" />
        </div>

        <br />
    }

    <div class="form-group">
        <label>Upload New Image</label>

        <input asp-for="ImageFile"
               type="file"
               class="form-control" />
    </div>

    <br />

    <button type="submit" class="btn btn-success">
        Save Changes
    </button>

    <a asp-action="Index" class="btn btn-secondary">
        Back
    </a>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}